/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #E0DCE4;
$primary-font: 'Roboto';

body {
  background-color: $primary-background;
  font-family: $primary-font;
}

main {
  display: flex;
  flex-direction: row;
}

img {
  height: 40px;
  width: 40px;
}

h1 {
  font-size: 46px;
  margin: 20px;
}

p {
  align-items: center;
  display: flex;
  font-weight: 300;
}

.mainContentSection {
  width: 70%
}

.mainContent {
    // border: 1px solid black;
    height: 99.5%
}

.tabSection {
  width: 30%;
}
.main,
.customer,
.bookings,
.orders {
	cursor: pointer;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  height: auto;
  padding: 15px;
}

.tabSection .main.current{
  background: #ededed;
  color: #222;
}


.content {
  display: none;
  background: #ededed;
  padding: 15px;
}

.mainContentSection.current {
  display: inherit;
}

.bellboy,
.search,
.keycard,
.bell {
  margin: 10px;
}

