/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #dce7ea;
$secondary-color: #07575b;
$body-color: #013138;
$primary-font: 'Roboto';
$header-color: #003b46;
$background: #eff9fc;
$backgroundBtn: #66a5ad;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $primary-background;
  color: $body-color;
  font-family: $primary-font;
}

main {
  margin: 0 10%;
}

header {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

h1 {
  color: $header-color;
  font-size: 42px;
  margin: 0 10%;
}

h2 {
  font-size: 30px;
  margin: 10px;
}

.currentDate {
  font-family: $primary-font;
  font-size: 28px;
  font-weight: 300;
  margin: 20px 10px;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 50px;
}

ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: $background;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #222;
}

.tab-content{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
  background: $background;
  min-height: 500px;
  padding: 15px;
}

#tab-1 {
  text-align: center;
}

.tab-content.current{
  display: inherit;
}

#tab-3 {
  padding: 20px;
}

.showCustomer {
  color: $secondary-color;
  font: $primary-font;
  font-size: 30px;
}

.searchBookings, 
.searchCustomersInput, 
.name,
.searchBtn, 
.searchCustomers, 
.addNewCustomer, 
.orderSearch,
.addNewFood,
.searchOrderInput {
  font-size: 16px;
  border-radius: 3px;
  margin: 10px;
  padding: 15px;
  width: 100%;
}

.searchBtn, 
.searchCustomers, 
.addNewCustomer, 
.orderSearch,
.addNewFood {
  background: $backgroundBtn;
  color: $background;
  width: 100%;
}

.filter {
  background: $backgroundBtn;
  border-radius: 3px;
  color: $background;
  margin: 10px;
  padding: 10px;
}

.searchRooms {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}

.showPercentageRooms, 
.showAvailableRooms, 
.totalOwed {
  font-size: 20px;
}

select, 
.showPercentageRooms, 
.showAvailableRooms, 
.totalOwed,
.custOrderInfo
 {
  margin: 10px;
}

select {
  height: 50px;
  width: 180px;
}

.popData1 {
  margin: 50px 10px;
}

p,
.customers,
.newCustomers,
.popData1,
.todaysOrders,
.custSearchOrder {
  margin: 10px;
  font-size: 24px;
  font-weight: 350;
}

.newCustName {
  color: #56c6e2;
  cursor: pointer;
  font-weight: 450;
}

.newCustName:hover {
  background-color: $primary-background;
}

h3 {
  margin-left: 10px;
}

.flex {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

.flexRight {
  display: flex;
  flex-direction: column;
}

.filteredRoom {
  display: flex;
  flex-direction: column;
}


// media queries//

@media screen and (max-width: 900px) {
  .flex {
    flex-direction: column;
  }

  .flexRight,
  .flexLeft {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .searchCustomers, 
  .addNewCustomer,
  .orderSearch,
  .addNewFood,
  .name,
  .searchCustomersInput,
  .searchOrderInput {
    width: 50%;
    font-size: 12px;
  }

  .resSuite,
  .single,
  .juniorSuite,
  .suite {
    width: 50%;
    padding: 10px;
  }

p,
.customers,
.newCustomers,
.popData1,
.todaysOrders,
.custSearchOrder {
  font-size: 18px;
}

}

@media screen and (max-width: 500px) {
  .searchCustomers, 
  .addNewCustomer, 
  .orderSearch, 
  .addNewFood, 
  .name, 
  .searchCustomersInput, 
  .searchOrderInput {
    width: 60%;
  }

  .filteredRoom {
    font-size: 12px;
  }

  ul.tabs {
    display: flex;
  }

  ul.tabs li {
    padding: 5px 10px;
  }
}